PORT=# This holds the number of the port that the server is listening ot.
MONGODB_URL=# This is the URL that connect us to mongodb data base.
SUPABASE_URL=# This is the URL that connect us to supabase data base.
SUPABASE_KEY=# This is another part of the connection to supabase which is calld the key such a good name am I right or what?.